/**
 * @file Styling global to the islandora_dss_elc Module
 * @author griffinj@lafayette.edu
 *
 */

/*
form .field-multiple-table {

    margin: 0;
    width:432px;
}

.form-item {

    float: none;
    width: 250px;
}

form.node-form div.vertical-tabs {

    display:none;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {

    height: inherit;
}
*/

