
/* Work-around */
.field-multiple-drag {

    display: none;
}

#visualize {

    clear:right;
    margin:auto;
    width: 84%;
}

.dialog-loading-overlay {
    
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

/*
.dialog-loading-throbber {

    margin: auto;
    background-image: url('/sites/all/modules/islandora_dss_solution_pack_elc/theme/images/ajax-loader_640_480.gif');
    background-repeat: no-repeat;
    background-position: center;
}
*/

.visualize-loading {

    width: 300px;
    height: 300px;
    background-image: url('/sites/all/modules/islandora_dss_solution_pack_elc/theme/images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center;
}

.visualize-column {

    width:320px;
    float:left;
}

.visualize-network {
 
    border: 1px solid black;
}

/* Refactor/Redesign */
section#comments {

    clear: left;
}

div.view-content {

    clear: left;
}